---
import Layout from "../layouts/Layout.astro";
import data from "../data/games.json";
import { Counter } from "../components/react/Counter";

const game = data.games.find((juego) => juego.slug === "honkai-star-rail");
---

<Layout
  title="Honkai: Star Rail"
  description="Explore the world of Honkai: Star Rail with guides, tips, and updates."
>
  <div
    class="fixed inset-0 z-0 opacity-20 pointer-events-none bg-cover bg-center"
    data-alt="Stylized landscape of Teyvat mountains at night"
    style=`background-image:url(${game?.imagen});`
  >
  </div>
  <main class="flex-1 flex flex-col items-center">
    <!-- HeroSection & Countdown -->
    <section class="w-full max-w-300 px-6 pt-12 mb-16">
      <div class="@container">
        <div class="flex flex-col items-center justify-center text-center mb-8">
          <div
            class="inline-flex items-center gap-2 px-3 py-1 rounded-full bg-primary/20 border border-primary/40 text-primary text-xs font-bold tracking-widest uppercase mb-4"
          >
            <span class="relative flex h-2 w-2">
              <span
                class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary opacity-75"
              ></span>
              <span class="relative inline-flex rounded-full h-2 w-2 bg-primary"
              ></span>
            </span>
            Countdown to Version {game?.proxima_version}
          </div>
          <h1
            class="text-white text-4xl md:text-6xl font-black leading-tight tracking-tight mb-4"
          >
            {game?.nombre_version_actual}
            <span class="text-gold italic font-serif">{game?.slogan_name}</span>
          </h1>
          <p class="text-slate-400 text-lg max-w-2xl">
            {game?.slogan_desc}
          </p>
        </div>
        <!-- Large Timer -->
        <div
          class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-8 max-w-200 mx-auto py-8"
        >
          <Counter
            client:load
            fecha_inicio={game?.fecha_inicio}
            duracion_dias={game?.duracion_dias}
            variant="full"
          />
        </div>
        <div class="flex justify-center gap-4 mt-8">
          <a
            target="_blank"
            rel="noopener noreferer"
            href={game?.patch_notes}
            class="flex items-center gap-2 bg-primary hover:bg-[#4b2bee]/90 text-white px-8 py-3 rounded-xl font-bold transition-all transform hover:scale-105"
          >
            <span class="material-symbols-outlined">menu_book</span>
            View Pre-Patch Notes
          </a>
          <button
            class="flex items-center gap-2 bg-white/5 hover:bg-white/10 text-white border border-white/20 px-8 py-3 rounded-xl font-bold transition-all"
          >
            <span class="material-symbols-outlined">share</span>
            Remind Me
          </button>
        </div>
      </div>
    </section>
  </main>
</Layout>
